body {
    font-family: Arial, sans-serif;
    background-color: #d4f0d4; /* Light green background */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888888;
  
    
}



h1 {
    margin-top: 0;
}

form {
    text-align: left;
}

.form-group {
    margin-bottom: 10px;
}

label, input {
    display: block;
    width: 100%;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007BFF;
}

/* Add styles for radio buttons and labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Make the label text bold */
}

.radio-inline input[type="radio"] {
    display: inline-block;
    margin-right: 5px; /* Adjust the spacing between radio buttons and labels */
}

/* Optional: Style for selected radio buttons */
.radio-inline input[type="radio"]:checked + label {
    color: #007BFF; /* Change the color of the selected label text */
}

.radio-radio-inline {
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between radio buttons */
}
